<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>New Employee Registration</title>
        <script src=https://code.jquery.com/jquery-3.6.0.min.js></script>
        <script src=https://code.jquery.com/jquery-3.6.0.js></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
                integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
                crossorigin="anonymous"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
              rel="stylesheet"
              integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
              crossorigin="anonymous">
        <style>
            .boxed-row {
                margin-top: 50px
            }
        </style>
    </head>
    <body>
        <div class="container boxed-row">
            <form th:action="@{/employees/registration/done}" th:object="${registration}" method="post" action="#" enctype="multipart/form-data">
                <div class="row form-group">
                    <h2>Employee Registration Form</h2>
                </div>
                <div class="row boxed-row">
                    <div class="col form-group">
                        <label>First Name</label>
                        <input type="text" class="form-control" placeholder="First Name" th:field="*{firstName}">
                    </div>
                    <div class="col form-group">
                        <label>Last Name</label>
                        <input type="text" class="form-control" placeholder="Last Name" th:field="*{lastName}">
                    </div>
                </div>
                <div class="row boxed-row">
                    <div class="col form-group">
                        <label>Salary</label>
                        <input type="number" step="any" class="form-control" placeholder="Salary" th:field="*{salary}">
                    </div>
                    <div class="col form-group">
                        <label>Position</label>
                        <input type="text" class="form-control" placeholder="Position" th:field="*{position}">
                    </div>
                </div>
                <div class="row boxed-row">
                    <div class="form-group col">
                        <label>Department</label>
                        <select class="form-control" name="department">
                            <option selected>Choose...</option>
                            <option th:each="dept : ${T(com.example.oindrila.employeemanagementsystem.enums.Department).values()}"
                                th:value="${dept}" th:text="${dept}"></option>
                        </select>
                    </div>
                    <div class="form-group col">
                        <label>Gender</label>
                        <select class="form-control" name="Gender">
                            <option selected>Choose...</option>
                            <option th:each="gen : ${T(com.example.oindrila.employeemanagementsystem.enums.Gender).values()}"
                                    th:value="${gen}" th:text="${gen}"></option>
                        </select>
                    </div>
                </div>
                <div class="row boxed-row">
                    <div class="col form-group">
                        <label>Email</label>
                        <input type="text" class="form-control" placeholder="abd@xyz.com" th:field="*{email}">
                    </div>
                    <div class="col form-group">
                        <label>Phone</label>
                        <input type="text" class="form-control" placeholder="+91-9988776655" th:field="*{phone}">
                    </div>
                </div>
                <div class="row boxed-row form-group">
                    <input type="file" name="image" class="form-control-file" th:field="*{image}" accept="image/jpeg,  image/x-png">
                </div>
                <div class="boxed-row">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>

            </form>
        </div>
    </body>
</html>